body{
    padding: 0;
    margin: 0;
}
video::-webkit-media-controls-fullscreen-button {
    display: none; 
}

video::-webkit-media-controls-play-button {
    display: none; 
}

video::-webkit-media-controls-timeline {
    display: none; 
}

video::-webkit-media-controls-current-time-display {
    display: none; 
}

video::-webkit-media-controls-time-remaining-display {
    display: none; 
}

video::-webkit-media-controls-mute-button {
    display: none; 
}

video::-webkit-media-controls-toggle-closed-captions-button {
    display: none; 
}

video::-webkit-media-controls-volume-slider {
    display: none; 
}
a{
    text-decoration: none;

}
ul li{
    list-style: none;
   
}
 .searchbox{
    position:absolute;
    z-index: 3;
     float: left;
    /* display: none; */
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255,1);
    transition: all 0.3s;
    transform: translateY(-160px);
    /* background-color: black; */
      
}  
/* 白块 */
.white{
    position: absolute;;
    z-index: 2;
    width: 100%;
    height: 80px; 
    background-color: rgb(255, 255, 255,1);
    transform: translateY(-160px);
    float: left;
    transition: all 0.3s;
}

.searchfrom{
    width: 1170px;
    height: 66px;
    margin: 0 auto;
    /* background-color: brown; */
    font-size: 30px;
    
} 
.searchfrom  input{
   
    width: 702px;
    height: 50px;
    padding: 0px;
    margin-top: 15px;
    font: 400 13.3333px Arial;
    line-height: 50px;
    border: none;
    border-bottom: 1px solid #666;
    width: 60%;
    background: none;
    font-size: 18px;

}
.searchfrom button{
    background: none;
    line-height: 50px;
    margin-top: 15px;
    border: none;
    font-size: 20px;
    

}
.searchfrom span{
    padding: 20px;
    float: right;
}
.header{
    z-index: 2;
    position: relative;
    height: 80px;
    width: 100%;
    /* background-color: cornflowerblue; */
    padding: 15px;
    box-sizing: border-box;
}
.header-1{
    position: absolute;
    width: 1170px;
    height: 45px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    font-size: 16px;
}
.header-1 img{
    height: 35px;
    float: left;
    margin-top: 10px;
   
   
}
.header-1 ul{
    float: left;
}
.header-1 ul li{
    float: left;
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: middle;
   
}
.header-1 ul li a{
    color: #ffffff;
    text-decoration:none
}
.header-1 ul li a:hover{
    color: red !important;
}
.header-info{
    float: right;
    height: 30px;
    margin-top: 10px;
    

}
.header-info .img1{
    width: 30px;
    height: 30px;
    margin-top: 0px;
    background-image: url(../imgs/icon-wx.png);
    background-position: 0px 0px;
    overflow: hidden;
}
.header-info .img1:hover{
    background-position: 0px 30px!important;
}
.header-info .img2:hover{
    background-position: 0px 30px!important;
}
.header-info .img2{
    width: 30px;
    height: 30px;
    margin-top: 0px;
    background-image: url(../imgs/icon-search.png);
    overflow: hidden;
}
.header-info .content1{
    font-size: 18px;
    margin-left: 10px;

}
.header-info a{
    color: #ffffff;
    text-decoration:none;
}
/* 二级菜单 */
.run{
    box-sizing: border-box;
    width: 100%;
    height:200px;
    background-color: rgb(255, 255, 255,0.8);
    position: relative;
    padding:10px ;
    display: none;
}
.run ul{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 420px;
    float: left;

}
.run  .liner{
    position: absolute;
    left: 400px;
    width: 5px;
    height: 20px;
    background-color: red;
}
.run ul a{
  color: #666;

}
.run ul li:first-child{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    color: #666!important;
}
.run ul li{
    margin: 5px;
}
.run ul a:hover{
    color: red;
}

/* 2 */
.ser{
    box-sizing: border-box;
    display: none;

    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255,0.8);
    position: relative;
    padding:10px ;
    display: none;
}
.ser ul{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 650px;
    float: left;
}
.ser .liner{
    position: absolute;
    left: 630px;
    width: 5px;
    height: 20px;
    background-color: red;
}
.ser ul a{
  color: #666;
}
.ser ul li:first-child{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    color: #666 !important;
}
.ser ul li{
    margin: 5px;
}
.ser ul a:hover{
    color: red;
}
/* 3 */
.sol{
    box-sizing: border-box;
    display: none;
    width: 100%;
    height:140px;
    background-color: rgb(255, 255, 255,0.8);
    position: relative;
    padding:10px ;
    
}
.sol ul:nth-child(1){
    padding: 0;
    margin: 0;
    position: absolute;
    left: 300px;
    float: left;
    width: 20%;
}
.sol ul:nth-child(2){
    padding: 0;
    margin: 0;
    position: absolute;
    left: 550px;
    float: left;
}

.sol ul:nth-child(3){
    padding: 0;
    margin: 0;
    position: absolute;
    left: 750px;
    float: left;
}
.sol ul:nth-child(4){
    padding: 0;
    margin: 0;
    position: absolute;
    left:950px;
    float: left;
}

.sol .liner1{
    position: absolute;
    left: 280px;
    width: 5px;
    height: 20px;
    background-color: red;
}

.sol .liner2{
    position: absolute;
    left: 530px;
    width: 5px;
    height: 20px;
    background-color: red;
}

.sol .liner3{
    position: absolute;
    left: 730px;
    width: 5px;
    height: 20px;
    background-color: red;
}

.sol .liner4{
    position: absolute;
    left: 930px;
    width: 5px;
    height: 20px;
    background-color: red;
}
.sol ul a{
  color: #666;
}
.sol ul li:first-child{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}
.sol ul li{
    margin: 5px;
}
/* 4 */
.news{
    box-sizing: border-box;
    width: 100%;
    height: 140px;
    background-color: rgb(255, 255, 255,0.8);
    position: relative;
    padding:10px ;
    display: none;

}
.news ul{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 750px;
    float: left;
}
.news .liner{
    position: absolute;
    left: 730px;
    width: 5px;
    height: 20px;
    background-color: red;
}
.news ul a{
  color: #666;
}
.news ul a:hover{
    color: red;
}
.news ul li:first-child{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    color: #666 !important;
}
.news ul li{
    margin: 5px;
}
/* 5 */
.pojo{
    box-sizing: border-box;
    width: 99%;
    height: 140px;
    background-color: rgb(255, 255, 255,0.8);
    position: relative;
    padding:10px ;
    display: none;
}
.pojo ul{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 870px;
    float: left;
}
.pojo .liner{
    position: absolute;
    left: 850px;
    width: 5px;
    height: 20px;
    background-color: red;
}
.pojo ul a{
  color: #666;
}
.pojo ul a:hover{
    color: red;
}
.pojo ul li:first-child{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    color: #666 !important;
}
.pojo ul li{
    margin: 5px;
}
/*  */
.message {
    width: 100%;
    height: 100%;
    
}
.message img{
    position: fixed;
    top:300px;
    left: 500px;
    display: block;
    margin: 0 auto;
}
.message video{
    object-fit:fill;
    position: fixed;
    bottom: 0px;
    right: 0px;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -99;
}
.message-show{
    position: fixed;
    bottom: 200px;
    left: 0;
    background-color: #e7122c;
    width: 250px;
    height: 100px;
    color: #fff;
    padding: 10px 15px;
    transform: translateX(-250px);
    transition: .3s ease;
   

}
.message-show a{
    color: #ffffff;
    text-decoration:none
    
}
.message-show:hover{
    transform:  translateX(0px);
    transition: .3s ease;
}
.hd-more{
    position: fixed;
    bottom: 90px;
    left: 50%;
    margin-left: -27px;
    width: 55px;
    text-align: center;
}
.hd-more img{
    animation: bounce 2s ease .2s infinite both;
    display: block;
    border: 0;
    
    margin: 0 auto
}
.hd-more a{
    text-decoration: none;
}
 p {
    margin: 0px;
    list-style: none;
    
}

/*  */
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #242826;
    padding: 15px 0;
    color: #999;
}
.footer-r{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.footer-right{
    float: right;
}
.footer-left{
    float: left;
}